<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="/static/jquery-2.1.3.min.js"></script>

</head>
<body>

    <div style="width: 300px;margin: 0 auto;">
        <form method="post" action="/index">
            <input type="text" value="请输入qq账号" name="username" id="username">
        <input type="password" name="password" id="password">
        <input type="submit" value="提交" >
        </form>


    </div>
<script>
        $(function () {
            $("#submit_button").click(function () {
                username = $("#username").val();
                password = $("#password").val();
                console.log(username);
                console.log(password);
                $.ajax({
                    url: '/index',
                    type: "POST",
                    data: {'username': username, 'password': password},
                    success: function(arg){
                        console.log(arg)
                    }
                })
            })
        })
    </script>
</body>
</html>