<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.cloud.log.biz.mapper.SysLogMapper">
	<resultMap id="BaseResultMap" type="com.taotao.cloud.log.biz.entity.SysLog">
		<!--@mbg.generated-->
		<!--@Table sys_log-->
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="request_ip" jdbcType="VARCHAR" property="requestIp"/>
		<result column="type" jdbcType="CHAR" property="type"/>
		<result column="user_name" jdbcType="VARCHAR" property="userName"/>
		<result column="description" jdbcType="VARCHAR" property="description"/>
		<result column="class_path" jdbcType="VARCHAR" property="classPath"/>
		<result column="request_method" jdbcType="VARCHAR" property="requestMethod"/>
		<result column="request_uri" jdbcType="VARCHAR" property="requestUri"/>
		<result column="http_method" jdbcType="VARCHAR" property="httpMethod"/>
		<result column="params" jdbcType="LONGVARCHAR" property="params"/>
		<result column="result" jdbcType="LONGVARCHAR" property="result"/>
		<result column="ex_desc" jdbcType="LONGVARCHAR" property="exDesc"/>
		<result column="ex_detail" jdbcType="LONGVARCHAR" property="exDetail"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="finish_time" jdbcType="TIMESTAMP" property="finishTime"/>
		<result column="time" jdbcType="LONGVARCHAR" property="time"/>
		<result column="user_agent" jdbcType="VARCHAR" property="userAgent"/>
		<result column="is_del" jdbcType="INTEGER" property="isDel"/>
		<result column="tenant_id" jdbcType="INTEGER" property="tenantId"/>
	</resultMap>
	<sql id="Base_Column_List">
		<!--@mbg.generated-->
		id, request_ip, `type`, user_name, description, class_path, request_method, request_uri,
		http_method, params, `result`, ex_desc, ex_detail, create_time, finish_time, `time`,
		user_agent, is_del, tenant_id
	</sql>
</mapper>
