<?xml version="1.0" encoding="UTF-8"?>

<!--
    schema： 规范
    xxx.xsd
    xml schema definition
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">





    <!-- 构造方法   set方法   初始化   销毁方法 -->
    <bean id="addr" class="com.qf.entity.Address" init-method="init_qf" destroy-method="destroy_qf" scope="prototype">
        <property name="id" value="1"/>
        <property name="city" value="bj"/>
    </bean>



</beans>