<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 日志存放路径 -->
	<property name="log.path" value="${user.dir}/logs"/>
	<!-- 日志输出格式 -->
	<property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>


	<root level="info">
		<appender-ref ref="console"/>
	</root>


</configuration>
