node_modules/
target/
/*/target/
/*/out/
/out
/vendor

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.gradle
.springBeans
*.log
*.hprof


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
mvnw*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
vendor/
buildSrc/.gradle

.iml
mvnw
mvnw.cmd
help.md

/node_modules/
/*/node_modules/
**/node_modules
/pnpm-lock.yaml/
/*/pnpm-lock.yaml/
**/pnpm-lock.yaml
/node/
/*/node/
**/node
/build/
/*/build/
**/build
/dist/
/*/dist/
**/dist
/.frontend-gradle-plugin/
/*/.frontend-gradle-plugin/
**/.frontend-gradle-plugin
**/.idea
**/out

**/vendor/

**/target
