<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="POST" action="/set_teacher.html?nid={{ nid }}">
        {% csrf_token %}
        <select multiple size="10" name="teacher_ids">
            {% for item in all_teacher_list %}
                {% if item.id in id_list %}
                    <option value="{{ item.id }}" selected="selected">{{ item.name }}</option>
                {% else %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="提交" />
    </form>
</body>
</html>