{% extends 'kingadmin/index.html' %}
{% load kingadmin_tags %}

{% block  right-content-container %}
    <ol class="breadcrumb">
      <li><a href="/kingadmin/">Home</a></li>
      <li><a href="/kingadmin/{{ app_name }}">{{ app_name }}</a></li>
        <li ><a href="/kingadmin/{{ app_name }}/{{ model_name }}/">{% get_model_verbose_name admin_class %}</a></li>
      <li class="active">Add {{ model_name }} </li>
    </ol>

<h2 class="page-header">{% get_model_name admin_class %}</h2>
<h4 class="page-header">添加{% get_model_name admin_class %}数据</h4>

<div>
add


{% include 'kingadmin/table_obj_change_component.html' %}





</div>

{% endblock %}
