{% extends 'index.html' %}



{% block "page-title" %}
  <h1 class="page-header text-overflow">作业详情</h1>

{% endblock %}

{% block page-content %}
{{ study_record_obj }}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ course_record_obj }}</h3>
    </div>
    <div class="panel-body">
        <p>我的成绩:
        <span style="color: red">{{ study_record_obj.get_score_display }}</span>
        </p>
        <p>作业题目: <b>{{ course_record_obj.homework_title }}</b></p>
        <p>作业需求: <pre>{{ course_record_obj.homework_requirement }}</pre></p>


        <hr>
        <p>已上传文件列表:</p>

        <table id="uploaded-list" class="table table-striped">
            <thead>
            <tr>
                <th>文件名</th>
                <th>大小(kb)</th>
                <th>上传时间</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
                {% for filename, fileinfo in uploaded_files.files.items %}
                    <tr>
                        <td>{{ filename }}</td>
                        <td>{{ fileinfo.size }}</td>
                        <td>{{ fileinfo.ctime }}</td>
                        <td ><i style='color:red;cursor: pointer' class='fa fa-times' aria-hidden='true' onclick="DeleteFileOnServer('{{ filename }}',this)"></i></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        <form id="filedropzone" method="post" action="{{ request.path }}" class="dropzone dz-clickable">{% csrf_token %}
            <div class="dz-default dz-message">
                <div class="dz-icon icon-wrap icon-circle icon-wrap-md">
                    <i class="fa fa-cloud-upload fa-3x"></i>
                </div>
                <div>
                    <p class="dz-text">把要提交的作业拖到这里</p>
                    <p class="text-muted">上传前请将代码打包成.zip格式</p>
                </div>
            </div>

        </form>






    </div>

</div>


{% endblock %}


{% block extra-js %}
<script>

    function DeleteFileOnServer(filename,ele) {

        var csrftoken = $("input[name='csrfmiddlewaretoken']").val();

        $.post("{{ request.path }}delete/", {"filename":filename,'csrfmiddlewaretoken':csrftoken},function (callback) {
            console.log(callback);
            var response = JSON.parse(callback);
            if (response.msg ){
                //means file got removed
                console.log("file got removed.")
                $(ele).parent().parent().remove();

                //remove file from dropzone too if it exist
                $.each(myDropzone.files,function (index,file_obj) {
                    console.log(file_obj.name + "--" + filename.trim())
                    if (file_obj.name ==  filename.trim()){
                        console.log("remove it from dropzone as well" + filename);
                        myDropzone.removeFile(file_obj);

                    }
                })
            }
        });//end post
    }
    $(document).ready(function () {

        Dropzone.options.filedropzone = {
          url:"{{ request.path }}",
          paramName: "file", // The name that will be used to transfer the file
          maxFilesize: 1, // MB,
          addRemoveLinks:true,
          maxFiles:5,
          uploadMultiple:true,

          accept: function(file, done) {
            if (file.name == "justinbieber.jpg") {
              done("Naha, you don't.");
            }
            else { done(); }
          }
        };


        Dropzone.autoDiscover = false;
        // or disable for specific dropzone:
        // Dropzone.options.myDropzone = false;

        myDropzone = new Dropzone("#filedropzone");
          myDropzone.on("addedfile", function(file) {
            /* Maybe display some more file information on your page */
            console.log(file)
          });


        myDropzone.on("maxfilesreached", function(file) {
            /* Maybe display some more file information on your page */
            console.log('filex ecxx')
          });
        myDropzone.on("success", function(file,response) {
            /* Maybe display some more file information on your page */
            console.log('filex upload done...',response);

            var response_dic = JSON.parse(response);

            if (response_dic.error){
                console.log("error happpend...")
            }else {
                var eles = '';
                $.each(response_dic.files,function (k,v) {
                    console.log(k +v );
                    var onclick_attr = 'onclick="DeleteFileOnServer(' + "'" + k  + "',this)'";

                    eles += "<tr><td>" + k +"</td><td>" + v.size + "</td><td>" + v.ctime +"</td><td><i style='color:red;cursor: pointer' class='fa fa-times' aria-hidden='true' onclick='DeleteFileOnServer(\" "+ k +" \",this)'></i></td></tr>";


                });//end each
                $("#uploaded-list tbody").html(eles);
            }


          });
    });//end doc ready

</script>
{% endblock %}