<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<!-- Context listeners -->
	<contextName>${APP_NAME}</contextName>

<!--	<contextListener class=" com.taotao.cloud.log.listener.SystemPropertyLoggerContextListener"/>-->

	<property name="LOG_PATH" value="${user.dir}"/>
	<property name="TAOTAO_CLOUD_VERSION" value="${taotaoCloudVersion}"/>
	<property name="CURRENT_DATE" value="%d{yyyy-MM-dd}"/>

<!--	<springProperty name="TAOTAO_CLOUD_VERSION" scope="context" source="taotaoCloudVersion"/>-->
	<springProperty name="APP_NAME" scope="context" source="spring.application.name"/>
	<springProperty name="LOG_FILE" scope="context" source="logging.file" defaultValue="${LOG_PATH}/logs/application/${APP_NAME}"/>
	<springProperty name="LOG_MAX_FILE_SIZE" scope="context" source="logback.filesize" defaultValue="2GB"/>
	<springProperty name="LOG_FILE_MAX_DAY" scope="context" source="logback.filemaxday" defaultValue="15"/>
	<springProperty name="SERVER_IP" scope="context" source="spring.cloud.client.ip-address" defaultValue="0.0.0.0"/>
	<springProperty name="SERVER_PORT" scope="context" source="server.port" defaultValue="0000"/>
	<springProperty name="BOOTSTRAP_SERVERS" scope="context" source="spring.kafka.bootstrap-servers" defaultValue="192.168.1.10:9092"/>
	<springProperty name="LOGSTASH_DESTINATION" scope="context" source="logging.extend.logstash-appender.destination" defaultValue="192.168.1.10:4560"/>

	<springProperty name="CONSOLE_LOG_PATTERN" source="logging.pattern.console"
		defaultValue="[${APP_NAME}:${SERVER_IP}:${SERVER_PORT}] %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%-5level]){blue} %clr(${PID}){magenta} %clr(ZipkinTraceId:[%X{X-B3-TraceId:-}:%X{X-B3-SpanId:-}]){magenta} %clr(TaoTaoCloudTraceId:[%X{taotao-cloud-trace-id:-}]){yellow}  %clr(SkywalkingTraceId:[%X{tid:-}]){blue} %clr([%thread]){orange} %clr(%logger){cyan} %clr(Method:[%M]){orange} %clr(Line:[%L]){orange} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

	<springProperty name="CONSOLE_LOG_PATTERN_NO_COLOR" source="logging.pattern.console.no.color"
		defaultValue="[${APP_NAME}:${SERVER_IP}:${SERVER_PORT}] %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] ${PID} ZipkinTraceId:[%X{X-B3-TraceId:-}:%X{X-B3-SpanId:-}] TaoTaoCloudTraceId:[%X{taotao-cloud-trace-id:-}]  SkywalkingTraceId:[%X{tid:-}] [%thread] %logger Method:[%M] Line:[%L] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
	<conversionRule conversionWord="wex"
					converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
	<conversionRule conversionWord="wEx"
					converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
	<conversionRule conversionWord="wEx2" converterClass="com.taotao.cloud.log.logback.ExtendedWhitespaceThrowableProxyConverter"/>
	
	<include resource="logback/console-appender.xml"/>
	
	<include resource="logback/file-appender.xml"/>
	
	<include resource="logback/kafka-appender.xml"/>
	
<!--	<include resource="logback/logstash-appender.xml"/>-->

	<!--为某个包单独配置logger
    比如定时任务，写代码的包名为：net.add1s.slf4j-logback
    步骤如下：
    1、定义一个appender，取名为task（随意，只要下面logger引用就行了）
    appender的配置按照需要即可

    2、定义一个logger:
    <logger name="net.add1s.slf4j-logback" level="DEBUG" additivity="false">
      <appender-ref ref="task" />
    </logger>
    注意：additivity必须设置为false，这样只会交给task这个appender，否则其他appender也会打印net.add1s.slf4j-logback里的log信息。

    3、这样，在net.add1s.slf4j-logback的logger就会是上面定义的logger了。
    private static Logger logger = LoggerFactory.getLogger(Class1.class);
    -->

	<logger name="org.springframework.cloud.openfeign" level="DEBUG"/>
	<logger name="org.apache.kafka" level="OFF"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE_ALL"/>
		<appender-ref ref="FILE_WARN"/>
		<appender-ref ref="FILE_ERROR"/>
		<appender-ref ref="KAFKA_ASYNC"/>
	</root>

	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="FILE_ALL"/>
			<appender-ref ref="FILE_WARN"/>
			<appender-ref ref="FILE_ERROR"/>
			<appender-ref ref="KAFKA_ASYNC"/>
		</root>
	</springProfile>

	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="FILE_ALL"/>
			<appender-ref ref="FILE_WARN"/>
			<appender-ref ref="FILE_ERROR"/>
			<appender-ref ref="KAFKA_ASYNC"/>
		</root>
	</springProfile>

	<springProfile name="pre">
		<root level="INFO">
			<appender-ref ref="FILE_ALL"/>
			<appender-ref ref="FILE_WARN"/>
			<appender-ref ref="FILE_ERROR"/>
			<appender-ref ref="KAFKA_ASYNC"/>
		</root>
	</springProfile>

	<springProfile name="pro">
		<root level="INFO">
			<appender-ref ref="FILE_ALL"/>
			<appender-ref ref="FILE_WARN"/>
			<appender-ref ref="FILE_ERROR"/>
			<appender-ref ref="KAFKA_ASYNC"/>
		</root>
	</springProfile>
</configuration>
