.centerRight{
	width:280px;
}
.newques-container{
    margin-bottom: 20px;

}
.newques-btn {
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: #cc0000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.newques-label{
    width: 100%;
}
.newques-label:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hot-label{
    padding: 0 10px;
    color: #787d82;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 4px;
    margin-top: 4px;
    font-size: 12px;
    background: #f8f8f8;
    word-wrap: break-word;
    white-space: nowrap;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    text-decoration: none;
    font-family: "微软雅黑";
}
.hot-label:hover{
    background: #dcdcdc;
}
.newques-label::after{
    content: "";
    clear: both;
}
.hot-list{
    width: 100%;
}
.hot-list-box,.lei-list-box{
    border-bottom: 2px solid #ccc;
}
.hot-list-box-title,.lei-list-box-title{
    text-align: left;
    text-decoration: none;
    color: #2b2b2b;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}.hot-list-box-title h2,.lei-list-box-title h2{

     font-size: 20px;
     font-family: "Microsoft YaHei";
 }
.weekly-hot{
    list-style: none;
}
/*没有定义li的高自动撑开px  定义上下padding为20*/
.weekly-hot li{
     border-bottom: 1px solid #edf1f2;
     padding: 20px 0 20px 0px;
     line-height: 18px;
     word-break: break-all;
     white-space: pre-wrap;
     overflow: hidden;
     position: relative;
     font-size: 12px;
    text-align: left;
}
.weekly-hot-last{
    border-bottom:none!important;
}
.weekly-hot li a {
    width: 210px;
    text-decoration: none;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: hidden;
}
.hoticon{
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    float: left;
    margin-right: 9px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin-top: 2px;
    font-style: normal;
}
.hot1{
    background: #cc0000;

}
.hot2{
    background: #ff3300;
}
.hot3{
    background: #cccc00;
}
.hot4{
    background: #ccc;
}
.hot5{
    background: #ccc;
}
a.hottalk{
    line-height: 20px;
    width: 210px;
    float: left;
    text-align: left;
    color:#14191e;
    font-style: normal;
    font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "???í????", Tahoma, Arial, sans-serif;
}
a.hottalk:hover{
    text-decoration: underline;
    color: #b00606;
}
.rankingnum{
    position: absolute;
    top: 13px;
    right: 0;
    line-height: 16px;
    font-style: normal;
    text-align: center;
    font-size: 12px;
    color: #00b33b;
}
.leifeng-list-body{
    width: 100%;
    list-style: none;
    text-align: left;
}
.leifeng-list-body li{
    padding: 15px 0 15px 0px;
    border-bottom: 1px solid #edf0f2;
    overflow: hidden;
    position: relative;
    font-style: normal;
    display: list-item;
    text-align: -webkit-match-parent;
}
.leifeng-list-body a.rankingnickname {
    margin-left: 10px;
    display: block;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    line-height: 18px;
    width: 165px;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
    color: #14191e;
}
a.rankingnickname:hover{
    text-decoration: underline;
    color: #b00606;
}
.leifeng-list-body .archieve {
    margin-left: 10px;
    display: block;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    line-height: 18px;
    width: 165px;
    font-size: 12px;
    color: #7e878c;
    font-style: normal;
    font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
.leifeng-list-body .roll-head{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #f7f7f7;
    overflow: hidden;
    background: #ccc;

}
/*信息展示窗口*/
.GotoTop-info {
    position: fixed;
    right: 15px;
    bottom: 105px;
    z-index: 1030;
}
.GotoTop-info .GotoTop-info-weixin {
    background-position: 0px -860px;
}
.GotoTop-info a.GotoTop-info-weixin:hover{
    background-position: 0px -922px;
}
.GotoTop-info a.weixin::after{
    content: '';
    width: 166px;
    height: 210px;
    background: transparent url("../image/elevator.png") no-repeat scroll -2px 0px;
    position: absolute;
    left: -170px;
    top: -150px;
    display: block;
}
.GotoTop-info .GotoTop-info-msg {
    background-position: 0px -426px;
}
.GotoTop-info a.GotoTop-info-msg:hover {
    background-position: 0px -488px;
}
.GotoTop-info .GotoTop-info-app {
    background-position: 0px -550px;
}
.GotoTop-info a.GotoTop-info-app:hover {
    background-position: 0px -612px;
}
.GotoTop-info a.app::after{
    content: '';
    width: 166px;
    height: 200px;
    background: transparent url("../image/elevator.png") no-repeat scroll -2px -218px;
    position: absolute;
    left: -170px;
    top: -20px;
    display: block;
}
.show{
    display: block!important;
}
.GotoTop-info .GotoTop-info-top {
    background-position: 0px -674px;
}
.GotoTop-info a.GotoTop-info-top:hover {
    background-position: 0px -736px;
}
.GotoTop-info a{
    display: block;
    margin: 1px 0px;
    outline: medium none;
    height: 52px;
    width: 52px;
    transition: background-position 0.15s ease 0s;
    background: transparent url("../image/elevator.png") no-repeat scroll 0% 0%;
    z-index: 1300;
}

