*{margin: 0;padding: 0;}
/*
html,body{ overflow: hidden; width: 100%;  height: 100%;font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;}
*/
input{border:1px solid #ccc;}
/*遮罩层和alert*/
.mask{  width: 100%;  height: 100%;  background-color: rgba(0,0,0,.75);position: absolute;top:0;left:0;z-index: 1000;}
.alert{  width: 400px;  height:auto;padding-bottom: 30px;position: absolute;z-index: 20000; font-size: 16px;top:50%;left:50%;margin-left: -200px;margin-top: -200px;  background-color: #fff;}
/*头部*/
.alert-header{ position:relative; width: 280px; font-weight:500; height:36px;font-size: 18px;color:#666;border-bottom: 2px solid #ccc;padding:0 60px;padding-top: 20px;cursor:pointer;}
.alert-header-zhuce,.alert-header-denglu{padding: 0px 10px;margin-right:16px;cursor: pointer;}
.alert-header-close{position:absolute;    top: 24px;  right: 26px;cursor:pointer;width: 17px;background: url(../image/nlogin.png) no-repeat 0 0;  height: 17px;}
.alert-header-close:hover{background-position: 0 -21px}
/* 头部登陆样式 */
.alert-header-current{
	display:inline-block;
	color:#CB0000;
	border-bottom: 2px solid #CB0000;
	height:36px !important;
}	
.denglu-test,.password-test,.email-test,.pstwo-test,.usnm-test,.psone-test{height:18px;width:276px;line-height:18px;margin-left:60px;font-size:10px;color:#CB0000;}
.usnm-test{margin-bottom: 20px !important;}
.alert-in-denglu-test{}
.alert-in-password-test{height:30px;width:276px;line-height:30px;margin-left:60px;}
/*输入框*/
.alert-in{height: auto;padding:20px auto;background-color: white}
.alert-in-denglu{display: block;  height: 38px;  width: 225px;margin:30px 0px 5px 60px;padding-left: 50px;font-size:16px;}
.alert-in-denglu,.alert-in-usnm{background:url(../image/ipt-sprite.png) no-repeat 0px -96px;}
.alert-in-email{background:url(../image/ipt-sprite.png) no-repeat 0px 0px;}
.alert-in-password,.alert-in-psone,.alert-in-pstwo{background:url(../image/ipt-sprite.png) no-repeat 0px -48px;}
.alert-in-psone,.alert-in-pstwo,.alert-in-usnm{display: block;  height: 38px;  width: 225px;margin:15px 0px 5px 60px;padding-left: 50px;font-size:16px;}
.alert-in-email{display: block;  height: 38px;  width: 225px;margin:30px 0px 5px 60px;padding-left: 50px;font-size:16px;}
.alert-in-password{display: block;  height: 38px;  width: 225px;margin:10px 0px 5px 60px;padding-left: 50px;font-size:16px;}
/*登录连接*/
.alert-login{  height: auto;background-color: white;position:relative;margin-top: 20px;}
.alert-login-auto{ margin-left:60px;color:#666;font-size: 14px;cursor:pointer;position:relative;}
.alert-login-autoFont{font-size: 14px;position: absolute;top:-2px;left:75px;color:#666;}
.alert-login-forget{font-size: 14px; color:#0591C6;text-decoration:none;cursor:pointer;position:relative;left:208px;top:-2px;}
.alert-login-submit{  display:block;line-height: 38px;font-size:16px;text-align: center;width: 280px;  height: 38px;background-color: #cc0000;margin: 20px auto;cursor: pointer}
.alert-login-submit a {color:#fff;}
.alert-login-submit:hover{background-color: red;}
#zhuceButton{margin-top:10px;}
/*其他连接*/
.alert-O{ margin-left:60px;color:#666;font-size: 14px}
.alert-O-com{cursor:pointer;}
.alert-O-method{float: right;margin-right:60px;}
.alert-O-method a {margin:0 4px;cursor:pointer;color:#999;}
.alert-O-method a:hover{color:#333;}