/* CSS Document */
*{ margin:0px; padding:0px;}
ul{ list-style:none;}
body{ font-size:16px; font-family: "Microsoft Yahei"; background:#fff;}
a{ text-decoration:none; color:#000; }
img{ border:none;}

.left { float:left;}
.right { float:right;}
.clear { clear:both;}
.clearfix:after {visibility: hidden; display: block; clear: both; height: 0; font-size: 0; content: ".";}
.clearfix{zoom:1;}
.mt{margint-top:10px;}
.mr-big{margin:20px 0px;}
.center{ text-align:center;}
.border{border:1px solid #F00;}
.mr-top{ margin-top:20px;}
.header{ height:60px; background:#333; line-height:60px; padding-right:20px;overflow: hidden;}
.container{ width:1200px; margin:0 auto; color:#656e73;min-width: 1200px;}
.left{ float:left;}
.right{ float:right;}




/*课程方向部分*/
.course-nav-hd{
	font-size:16px;
	font-weight:bold;
	color:##14191e;
	height:30px;
	line-height:30px;
	padding:15px 0px;
	border-bottom:1px solid #d0d6d9
}
.course-nav-row{
	padding:15px 0px 5px;
	border-bottom:1px solid #edf1f2;
}


/*杨彤辉部分结束 */	

/*ZZ部分*/	
.course-tool-ba{
	height:41px;
/*	line-height:41px;*/
	border-top:1px solid #d0d6d9;
	background:#f9f9f9;
	}
/*ZZ部分结束*/

/*.bottom{
	background:#000;
	padding:27px 0px;
	border:1px solid #f00;
}*/
/*分页*/
  .course-page-num{
            height:100px;

        }
        .pageCenter{
            width:500px;
            height:100px;
            text-align:center;
            margin:0 auto;
            overflow:hidden; 
            padding-top:40px;
        }
        .pageCenter span{
            float:left;
            margin:0 10px;
            height:24px;
            line-height:24px;
            cursor:pointer;
            
        }
        .pageCenter .page:hover{
            color:#b20000;
            border-bottom:1px solid #b20000;
            height:22px;
        }
        .pageList ul{
        }
        .pageList ul li{
            float:left;
            width:24px;
            height:24px;
            text-align:center;
            line-height:24px;
            margin: 0 4px;
        }
		        .current{
            background-color:#F01400;
            color:white;
            border-radius:2px;
        }


/*最新*/
        .newCourse{
            height:40px;
            line-height:40px;
            background-color:#F9F9F9;
            border-top:1px solid #D0D6D9;
            margin-bottom:20px;
        }
        .newCourse span{
            float:left;
            margin:0 20px;
			font-size:13px;
        }

        .newCourse span:hover,.newCourse span.active{
            color:black;
            cursor:pointer;
        }
		
/*全部回答*/
.ty_good_anwser{
	line-height:80px;
}
.ty_good_anwser_content li,.ty_good_anwser_content_noe1 li{
	float:left;
}
.ty_good_anwser_content li a,.ty_good_anwser_content_noe1 li a{
	font-size:13px;
	color:#656e73;
	margin-left:49px;
}
.ty_good_anwser_content_noe1 li a{
	font-size:16px;
	color:#000;
}
.ty_good_anwser_content li a:hover{
	color:#000;
}

/*慕课社区*/
.ty_mksq{
	height:73px;
	line-height:73px;
	background:#eef1f2;
}