/*登录框展示区*/
.down-header-box{
    position: fixed;
    top: 63px;
    top: 63px;
    right: 30px;
}
.zhanshi{
    position: relative;
   /* right: 30px;
    top: 71px;*/
    width: 270px;
    /*box-shadow:0px 3px 4px 0px #ccc,-1px 4px 4px 1px #ccc;*/
	z-index:1000;
	padding-top:10px;
}
.card-arr {
  position:absolute;
  top:2px;
  right:25px;
/*  width:0;
    height:0;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #f01400 transparent;
  border-style: solid;*/
  width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #f01400;/*透明 透明  灰*/
  }
.zhanshi_up{
    width: 100%;
    height: 100px;
	background:url(../image/user_card_top.png) no-repeat;
    box-sizing: border-box;
 
	
}
.zhanshi_up ul{
    list-style: none;
    /*display: block;*/
	color:#fff;
}
.zhanshi_down{
    width: 100%;
	background:#fff;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/*.touxiang{
    width: 90px;
    height: 90px;
    background-color: rgba(255,255,255,0);
    position: relative;
}*/
.touxiang a{
    float: left;
    width: 54px;
    height: 54px;
    text-decoration: none;
    border: 2px solid #fefefe;
    border-radius: 50%;
		margin-top:20px;
	margin-left:30px;
    overflow: hidden;
}
.touxiang_img{
    border: none;
    width: 54px;
    height: 54px;

}
.zhanglingdj{
		margin-top:30px;
	margin-left:20px;
	
}
.touxiang_list{

    line-height: 20px;
    /*float: left;*/
    font-size: 16px;
    font-family: 'Microsoft Yahei';
    margin-bottom: 5px;
}
.jingyan{
    font-size: 14px;
}
.jinngyan_num{
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
}
.zhanshi_info{
    width: 100%;
    height: 53px;
}
.zhanshi_info ul{
    width: 100%;
    list-style: none;
}
.zhanshi_info ul li{
    display: block;
    width: 135px;
    height: 33px;
    margin-top:10px;
    text-align: center;
    line-height:33px;
    box-sizing: border-box;
    float: left;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Microsoft Yahei';
    border-right: 1px solid #d9e3e8;
}
.zhanshi_info ul li:last-child{
    border-right:none;
}
.jindu{
    width: 100%;
    height: 60px;
    border-top: 1px solid #d9e3e8;
    border-bottom: 1px solid #d9e3e8;
    padding-left: 40px;
    box-sizing: border-box;
    color: #7e878c;
}
.jindu ul{
    width: 100%;
    list-style: none;
    margin-top: 12px;
}
.jindu ul li{
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    box-sizing: border-box;
    padding-right: 30px;
    position: relative;
}
.jindu ul li:first-child:before{
    content: '';
    position: absolute;
    top: 4px;
    left: -20px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #7e878c;
}
.jindu ul li a{
    color:#F01400;
    float: right;
    text-decoration: none;}
.gerenshezhi{
    width: 100%;
    height: 38px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    position: relative;
    padding-right: 30px;
    color:#7e878c;
}
.gerenshezhi p{
    line-height:38px;
}
.gerenshezhi a{
    float: right;
    text-decoration: none;
}
.jindu_info{
    font-style: normal;
    font-weight: 800;
}