# Circle CI 实现CICD  持续集成/持续部署
# https://blog.csdn.net/qq_40850839/article/details/133821470
version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:21.0.2

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      - run: ./gradlew dependencies
      - run: ./gradlew test

workflows:
  gradle-build:
    jobs:
      - build
