{% extends 'base.html' %}

{% block body %}
<div class="panel col-md-4 col-lg-push-4" style="margin-top: 50px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Welcome use 老男孩教学系统</h3>
    </div>
    <div class="panel-body ">
        <div class="list-group">
            <a href="{% url 'my_courses' %}" class="list-group-item active">
                <h4 class="list-group-item-heading text-thin">学员入口</h4>
                <p class="list-group-item-text">学员可以进行成绩查询\作业管理\下载学习资料等</p>
            </a>
            <a href="{% url 'crm_dashboard' %}" class="list-group-item ">
                <h4 class="list-group-item-heading text-thin">CRM入口</h4>
                <p class="list-group-item-text">招生团队对客户进行纪录、追踪、为学员办理报名手续等</p>
            </a>
            <a href="{% url 'teacher_dashboard' %}" class="list-group-item ">
                <h4 class="list-group-item-heading text-thin">讲师入口</h4>
                <p class="list-group-item-text">讲师可以通过此系统进行在线点名、批复学生作业、上传课件等</p>
            </a>
            <a href="{% url 'table_index' %}" class="list-group-item ">
                <h4 class="list-group-item-heading text-thin">管理员入口</h4>
                <p class="list-group-item-text">管理员通过KingAdmin管理各数据库表 </p>
            </a>
        </div>
    </div>
</div>
{% endblock %}