
<div class="row">
	<div class="col-md-8 search-list">
		<div class="row search-item">
			<div class="col-md-offset-2 col-md-2" style="padding-right: 0;">
				<a type="button" class="btn btn-default add-search-condition" style="float: right">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
			</div>
			<div class="col-md-8 searchArea input-group">
				<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="searchDefault">默认值</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">

				</ul>
			</div>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<input id="doSearch" type="button" class="btn btn-primary" value="搜索"/>
	</div>
</div>


{#<div class="search-list clearfix" style="position: relative">#}
{##}
{#	<div class="search-btn col-md-offset-10 col-md-2" style="position: absolute;bottom: 1px;text-align: right">#}
{#		<input id="doSearch" type="button" class="btn btn-primary" value="搜索"/>#}
{#	</div>#}

{#	<div class="search-item col-md-offset-2 col-md-8 clearfix" style="position: relative;height: 35px;">#}
{#		<div style="position: absolute;left:0;width: 38px;">#}
{#			<a type="button" class="btn btn-default add-search-condition">#}
{#				<span class="glyphicon glyphicon-plus"></span>#}
{#			</a>#}
{#		</div>#}
{#		<div class="input-group searchArea" style="position: absolute;left: 40px;right: 100px;">#}
{#			<div class="input-group-btn">#}
{#				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#								aria-expanded="false"><span class="searchDefault">默认值</span> <span class="caret"></span></button>#}
{#				<ul class="dropdown-menu">#}
{##}
{#				</ul>#}
{#			</div>#}
{#			<!-- /btn-group -->#}
{#			<!-- <input type="text" class="form-control" aria-label="..."> -->#}
{##}
{#		</div>#}
{#	</div>#}
{##}
{#</div>#}
