<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{activation-layout}">

<body>
    <title layout:fragment="title">设备激活被拒绝</title>
    <div layout:fragment="content">
        <div class="column q-gutter-md items-center">
            <div class="col">
                <q-icon name="mdi-progress-close" color="red" size="100px"/>
            </div>
            <div class="col">
                <div class="text-h5 text-weight-bolder">
                    激活被拒绝！
                </div>
            </div>
            <div class="col">
                <div class="text-subtitle2">我们无法激活您的设备。</div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script>
            const app = Vue.createApp({
                setup() {
                    return {};
                },
            });

            app.use(Quasar);
            Quasar.iconSet.set(Quasar.iconSet.svgMdiV7);
            app.mount("#q-app");
        </script>
    </th:block>
</body>
</html>
