<div class="btn-group" role="group" aria-label="...">
          <button id="checkAll" type="button" class="btn btn-default">全选</button>
          <button id="checkReverse" type="button" class="btn btn-default">反选</button>
          <button id="checkCancel" type="button" class="btn btn-default">取消</button>
          <button id="editMode" type="button" class="btn btn-default">编辑模式</button>
          <a class="btn btn-default" href="#">添加</a>
          <button id="multiDel" type="button" class="btn btn-default">删除</button>
          <button id="refresh" type="button" class="btn btn-default">刷新</button>
          <button id="save" type="button" class="btn btn-default">保存</button>
        </div>
  	<table class="table table-hover">
		<thead id="tbHead">
		<tr></tr>
		</thead>
		<tbody id="tbBody"></tbody>
	</table>