<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taotao.cloud.sys.infrastructure.persistent.dept.mapper.DeptMapper">
	<select id="selectIdsByRoleId" resultType="long">
		SELECT a.id
		FROM boot_sys_dept a
		   , boot_sys_role b
		   , boot_sys_role_dept c
		WHERE a.id = c.dept_id
		  AND c.role_id = b.id
		  AND b.id = #{roleId}
		  and a.del_flag = 0
		group by a.id
	</select>
	<select id="selectPathById" resultType="java.lang.String">
		select path
		from boot_sys_dept
		where id = #{id}
	</select>
	<select id="selectListByPath"
		resultType="com.taotao.cloud.sys.infrastructure.persistent.dept.po.DeptPO">
		select id, path
		from boot_sys_dept
		where path like concat(#{path}, '%')
		  and path <![CDATA[ <> ]]> #{path}
		  and del_flag = 0
	</select>
	<select id="selectVersion" resultType="integer">
		select version
		from boot_sys_dept
		where id = #{id}
	</select>
</mapper>
