<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdframe.forge.plugin.system.mapper.SysTenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mdframe.forge.plugin.system.entity.SysTenant">
        <id column="id" property="id" />
        <result column="tenant_name" property="tenantName" />
        <result column="contact_person" property="contactPerson" />
        <result column="contact_phone" property="contactPhone" />
        <result column="user_limit" property="userLimit" />
        <result column="tenant_status" property="tenantStatus" />
        <result column="expire_time" property="expireTime" />
        <result column="tenant_desc" property="tenantDesc" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_name, contact_person, contact_phone, user_limit, tenant_status,
        expire_time, tenant_desc, create_by, create_time, update_by, update_time
    </sql>

</mapper>
