<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtoon.cloud.sys.infrastructure.persistence.mapper.SysUserRoleMapper">

    <delete id="deleteByRoleIds">
        delete from sys_user_role where role_id in
        <foreach item="roleId" collection="list" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <delete id="deleteByUserIds">
        delete from sys_user_role where user_id in
        <foreach item="userId" collection="list" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper>