<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty name="APP_NAME" scope="context" source="spring.application.name"
		defaultValue="--"/>

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

	<appender name="LOGBACK_ACCESS_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>common</pattern>
			<!--<pattern>%h %l %u [%t] "%r" %s %b "%i{Referer}" "%i{User-Agent}"</pattern>-->
			<!--<pattern>%h %l %u %user %date "%r" %s %b</pattern>-->
			<!--<pattern>common</pattern>-->
			<!--<pattern>clf</pattern>-->
		</encoder>
	</appender>

	<appender name="LOGBACK_ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/${APP_NAME}/access/access.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.home}/logs/${APP_NAME}/access/history/access.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>combined</pattern>
		</encoder>
	</appender>

	<appender-ref ref="LOGBACK_ACCESS_CONSOLE"/>
	<appender-ref ref="LOGBACK_ACCESS_FILE"/>
</configuration>
