<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty name="APP_NAME" scope="context" source="spring.application.name"
					defaultValue="--"/>

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

	<appender name="LOGBACK_ACCESS_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>combined</pattern>
			<!--<pattern>%h %l %u [%t] "%r" %s %b "%i{Referer}" "%i{User-Agent}"</pattern>-->
			<!--<pattern>%h %l %u %user %date "%r" %s %b</pattern>-->
			<!--<pattern>common</pattern>-->
			<!--<pattern>clf</pattern>-->
		</encoder>
	</appender>

	<appender name="LOGBACK_ACCESS_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/${APP_NAME}/access/access.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.home}/logs/${APP_NAME}/access/history/access.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<!--https://logback.qos.ch/manual/layouts.html  最下面-->
			<!--https://logback.qos.ch/access.html#configuration-->

			<!--<pattern>combined</pattern>-->
			<pattern>%t{yyyy-MM-dd HH:mm:ss.SSS} %a %A %b %h %H %m %D %l %u "%r" %s %q %U %v %I %b "%i{origin}"
				"%i{Referer}" "%i{User-Agent}"
			</pattern>
		</encoder>
	</appender>

	<appender-ref ref="LOGBACK_ACCESS_CONSOLE_APPENDER"/>
	<appender-ref ref="LOGBACK_ACCESS_FILE_APPENDER"/>
</configuration>
