<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianfeng.openapi.web.master.mapper.AppInfoMapper">

    <select id="getSimpleInfoList" resultType="AppInfo">
        select corpName,appKey
        from app_info
    </select>

    <insert id="add" parameterType="AppInfo">
        INSERT INTO app_info (appName,corpName,appKey,appSecret,redirectUrl,`limit`,description,cusId)
        VALUES (#{appName},#{corpName},#{appKey},#{appSecret},#{redirectUrl},#{limit},#{description},#{cusId})
    </insert>

    <update id="updateAppInfo" parameterType="AppInfo">
        UPDATE app_info
        <set>
            <if test="corpName !=null and corpName!=''">corpName=#{corpName},</if>
            <if test="corpName !=null and corpName!=''">appName=#{appName},</if>
            <if test="appKey !=null and appKey!=''">appKey=#{appKey},</if>
            <if test="appSecret !=null and appSecret!=''">appSecret=#{appSecret},</if>
            <if test="redirectUrl !=null and redirectUrl!=''">redirectUrl=#{redirectUrl},</if>
            <if test="limit !=null">`limit`=#{limit},</if>
            <if test="description !=null and description!=''">description=#{description},</if>
            <if test="cusId !=null and cusId!=''">cusId=#{cusId},</if>
            <if test="state !=null and state!=''">state=#{state},</if>
        </set>
        where ID=#{id}
    </update>

    <sql id="get-app-info">
        select id,corpName,appKey,appName,appSecret,description,cusId,redirectUrl,state,`limit`
        from app_info
    </sql>

    <select id="getInfoList" resultType="AppInfo" parameterType="AppInfo">
        <include refid="get-app-info"/>
        <where>
            <if test="corpName !=null and corpName!=''"> corpName like concat('%',#{corpName},'%')</if>
        </where>
    </select>

    <select id="getInfoById" parameterType="int" resultType="AppInfo">
        <include refid="get-app-info"/>
        where ID=#{id}
    </select>
</mapper>
    