<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianfeng.openapi.web.master.mapper.MenuMapper">
    <resultMap id="menuMap" type="Menu">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="url" column="URL"/>
        <result property="icon" column="ICON"/>
        <result property="perms" column="PERMS"/>
        <result property="type" column="TYPE"/>
        <result property="sort" column="SORT"/>
    </resultMap>
    <select id="getAllMenu" resultMap="menuMap">
        SELECT
            ID,
            NAME,
            PARENT_ID,
            URL,ICON,PERMS,TYPE,SORT
        FROM MENU
        order by SORT
    </select>

    <delete id="deleteMenu" parameterType="int">
        delete from menu where id=#{id}
    </delete>

    <update id="updateParentId" parameterType="int">
        update menu set parent_id=null where parent_id=#{id}
    </update>

    <insert id="addMenu" parameterType="Menu">
        insert into MENU(NAME,URL,PARENT_ID,ICON,PERMS,TYPE,SORT)
                VALUES(#{name},#{url},#{parentId},#{icon},#{perms},#{type},${sort})
    </insert>
    
    <select id="getMenuById" parameterType="int" resultType="Menu">
        SELECT
            ID,
            NAME name,
            PARENT_ID parentId,
            URL,ICON,PERMS,TYPE,SORT
        FROM MENU where ID=#{id}
    </select>

    <update id="updateMenu" parameterType="Menu">
        update menu
        <set>
            URL=#{url},
            parent_Id=#{parentId},
            <if test="name!=null and name!=''">NAME=#{name},</if>
            <if test="icon!=null and icon!=''">ICON=#{icon},</if>
            <if test="perms!=null and perms!=''">PERMS=#{perms},</if>
            <if test="sort!=null">SORT=#{sort}</if>
        </set>
        where ID=#{id}
    </update>

    <select id="getUserMenu" parameterType="int" resultMap="menuMap">
        select DISTINCT  m.ID,
            m.NAME,
            m.PARENT_ID,
            m.URL,m.perms,m.icon,m.type,m.SORT
        from menu m
            inner join role_menu rm on rm.MENU_ID=m.ID
            INNER JOIN user_role ur on rm.ROLE_ID=ur.ROLE_ID
        where ur.USER_ID=#{userId} order by m.SORT
    </select>

    <select id="getMenuRoleId" parameterType="int" resultType="int">
        select ROLE_ID from ROLE_MENU where MENU_ID=#{menuId}
    </select>


</mapper>
    