<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianfeng.openapi.web.master.mapper.RoleMapper">
    <insert id="addRole" parameterType="Role" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ROLE (NAME, REMARK, STATUS) VALUES (#{name}, #{remark}, #{status})
    </insert>

    <update id="updateRole" parameterType="Role">
        update ROLE
        <set>
            <if test="status!=null">STATUS=#{status},</if>
            <if test="name!=null and name!=''">NAME=#{name},</if>
            <if test="remark!=null and remark!=''">REMARK=#{remark},</if>
        </set>
        where id=#{id}
    </update>

    <select id="getRoleList" parameterType="Role" resultType="Role">
        select ID,NAME,STATUS,REMARK from ROLE
        <where>
            <if test="name!=null and name!=''">NAME=#{name}</if>
            <if test="status!=null">and STATUS=#{status}</if>
        </where>
    </select>

    <select id="getRoleId" parameterType="int" resultType="Role">
        select ID,NAME,STATUS,REMARK from ROLE
        where ID=#{id}
    </select>
    <insert id="addRoleMenu">
        insert into ROLE_MENU(ROLE_ID,MENU_ID)values(#{roleId},#{menuId})
    </insert>

    <delete id="deleteRoleMenuByRoleId" parameterType="int">
        delete from ROLE_MENU where ROLE_ID=#{roleId}
    </delete>

    <delete id="deleteRoleMenuByMenuId" parameterType="int">
        delete from ROLE_MENU where MENU_ID=#{menuId}
    </delete>

    <select id="getRoleMenuIds" parameterType="int" resultType="int">
        select MENU_ID from ROLE_MENU where ROLE_ID=#{roleId}
    </select>
</mapper>
    