<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitegg.service.extension.justauth.mapper.JustAuthSocialUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitegg.service.extension.justauth.entity.JustAuthSocialUser">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="social_id" property="socialId" />
        <result column="tenant_id" property="tenantId" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, social_id, tenant_id, create_time, creator, update_time, operator, del_flag
    </sql>

    <!-- 分页查询第三方用户绑定列表 -->
    <select id="queryJustAuthSocialUserList" resultType="com.gitegg.service.extension.justauth.dto.JustAuthSocialUserDTO" parameterType="com.gitegg.service.extension.justauth.dto.QueryJustAuthSocialUserDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_just_auth_social_user
        WHERE del_flag = 0
        <if test="justAuthSocialUser.socialId != null and justAuthSocialUser.socialId != ''">
            AND social_id = #{justAuthSocialUser.socialId}
        </if>
        <if test="justAuthSocialUser.userId != null and justAuthSocialUser.userId != ''">
            AND user_id = #{justAuthSocialUser.userId}
        </if>
        <if test="justAuthSocialUser.beginDateTime != null and justAuthSocialUser.beginDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{justAuthSocialUser.beginDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="justAuthSocialUser.endDateTime != null and justAuthSocialUser.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{justAuthSocialUser.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>
    <!-- 查询第三方用户绑定信息 -->
    <select id="queryJustAuthSocialUser" resultType="com.gitegg.service.extension.justauth.dto.JustAuthSocialUserDTO" parameterType="com.gitegg.service.extension.justauth.dto.QueryJustAuthSocialUserDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_just_auth_social_user
        WHERE del_flag = 0
        <if test="justAuthSocialUser.socialId != null and justAuthSocialUser.socialId != ''">
            AND social_id = #{justAuthSocialUser.socialId}
        </if>
        <if test="justAuthSocialUser.userId != null and justAuthSocialUser.userId != ''">
            AND user_id = #{justAuthSocialUser.userId}
        </if>
        <if test="justAuthSocialUser.beginDateTime != null and justAuthSocialUser.beginDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{justAuthSocialUser.beginDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="justAuthSocialUser.endDateTime != null and justAuthSocialUser.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{justAuthSocialUser.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>
</mapper>
