<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="one" class="com.taotao.cloud.netty.springannotation.springrunorder.One">
        <constructor-arg name="one" value="one"/>
    </bean>

    <context:component-scan base-package="com.taotao.cloud.netty.springannotation.springrunorder"/>
    <bean id="two" class="com.taotao.cloud.netty.springannotation.springrunorder.Two">
        <constructor-arg name="two" value="two"/>
    </bean>

</beans>
