<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.openapi.customer.mapper.CustomerMapper">


<!--    Integer save(Customer customer);-->
    <insert id="save" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into
          customer
        (username,password,nickname,money,address,state)
          values
        (#{username},#{password},#{nickname},#{money},#{address},#{state})
    </insert>



</mapper>