<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>获取用户列表数据</h2>
    <ul>
        <%for(var i=0;i<list.length;i++){%>
         <li><%=list[i].name%>---<%=list[i].age%></li>
        <%}%>
    </ul>
</body>
</html>