<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <h2>注册页面</h2>
    <form action="/doRegister" method="post">
        
        用户名：<input type="text" name="name" />

        <br>
        <br>

         年　龄： <input type="text" name="age" />

        <br>
        <br>
        <input type="submit" value="提交">


    </form>
</body>
</html>