<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img style="height: 340px;width: 340px;" id="qrcode" src="https://login.weixin.qq.com/qrcode/{{ qcode }}">
    <script src="/static/jquery-1.12.4.js"></script>
    <script>
        $(function () {
           checkLogin();
        });

        function checkLogin() {
            $.ajax({
                url: '/check-login.html',
                type: 'GET',
                dataType: 'JSON',
                success:function (arg) {
                    if (arg.code == 408){
                        checkLogin()
                    }else if (arg.code == 201){
                        $('#qrcode').attr('src',arg.data);
                        checkLogin()
                    }else if(arg.code == 200){
                        location.href = '/user.html'
                    }

                }
            })
        }

    </script>
</body>
</html>