{% extends 'layout/_layout.html' %}

{% block css %}


{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/cmdb.html">首页</a></li>
        <li><a href="/asset.html">资产列表</a></li>
        <li class="active">资产详细</li>
    </ol>
    <div style="padding: 5px 8px;">

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a class="no-radius" href="#basic" aria-controls="basic" role="tab"
                                                          data-toggle="tab">基本信息</a></li>
                <li role="presentation"><a class="no-radius" href="#hardware" aria-controls="hardware" role="tab"
                                           data-toggle="tab">硬件信息</a></li>
                <li role="presentation"><a class="no-radius" href="#log" aria-controls="log" role="tab"
                                           data-toggle="tab">变更记录</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="basic">
                    {% include 'include/asset_basic.html' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="hardware">
                    {% if device_type_id == '1' %}
                        {% include 'include/asset_server_hardware.html' %}
                    {% else %}
                        {% include 'include/asset_network_hardware.html' %}
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="log">
                    {% include 'include/asset_log.html' %}
                </div>

            </div>

        </div>

    </div>



{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>


    <script>
        $(function () {
            $.initMenu('#menu_asset');

        });


    </script>
{% endblock %}